<html>
<head>
    <meta charset="UTF-8" />
    <title>학생 정보 등록</title>
</head>
<body>
    <h2><span th:text="#{student_register}" ></span></h2> <br/>
    <form method="post" action="/student/register">
        <span th:text="#{name}" ></span> : <input type="text" name="name" /><br />
        <span th:text="#{email}" ></span> : <input type="text" name="email" /><br />
        <span th:text="#{score}" ></span> : <input type="text" name="score" /><br />
        <span th:text="#{comment}" ></span> : <textarea name="comment" rows="10" cols="80"></textarea><br />
        <br />
        <input type="submit" />
    </form>
    <br/><br/>
    <a href="/" th:text="#{main}"></a>
</body>
</html>
