<html>
<head>
    <meta charset="UTF-8" />
    <title>학생 정보 조회</title>
</head>
<body>
    <h2><span th:text="#{find_student}" ></span></h2> <br/>
    <span th:text="#{name}" ></span>: <span th:text="${student.name}"></span><br />
    <span th:text="#{email}" ></span>: <span th:text="${student.email}"></span><br />
    <span th:text="#{score}" ></span>: <span th:text="${student.score}"></span><br />
    <span th:text="#{comment}" ></span>: <span th:text="${student.comment}"></span><br />
    <br />
    <a th:href="@{/student/{id}/modify(id=${student.id})}"><span th:text="#{modify_info}" ></span></a><br />

    <br/><br/>
    <a href="/" th:text="#{main}"></a>
</body>
</html>
